body > form > main {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

label {
    color: #000000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

input {
    height: 32px;
    border-radius: 30px;
    padding: 0px 20px;
    margin-bottom: 10px;
    border: 1px solid #777;
    color: black;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f900;
    border-radius: 25px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
    min-height: 200px;
    max-height: 400px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
}

button {
    background: #797979;
    color: white;
    border: none;
    border-radius: 40px;
    height: 40px;
    padding: 0 20px;
    margin: 15px 0;
    text-transform: uppercase;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: rgb(8, 70, 131);
    box-shadow: 2px 2px 15px rgb(8, 70, 131);
}
