body > main {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

#main-container {
    flex: 1;
    border-radius: 25px;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
}

#main-container header, #container header {
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#main-container header h1, #container header h1 {
    margin: 0;
}

#main-container main, #container main {
    padding: 10px 0;
    margin: 0;
    background-color: #FFF;
}

#main-container footer {
    margin-top: auto;
    padding-top: 10px;
}